@using UmbracoGo.Web.Models.ViewModels
@inherits UmbracoViewPage<NavigationViewModel>

@foreach (NavigationItemViewModel item in Model.Items)
{
    string css = item.IsSelected ? "active" : string.Empty;

    <li role="presentation" class="@css"><a href="@item.Url" target="@item.Target">@item.Text</a></li>
}